name: PR Analyzer

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

jobs:
  analyze-pr:
    uses: Hitesh-lalwani123/pr-analyzer/.github/workflows/reusable-pr-analyzer.yml@develop
    secrets:
      GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}